* {
    margin: 0;
    padding: 0;
    font: 100% Arial;
    background-color: #f8f8f8;
}

body {
    margin: 0 auto;
    color: #333;
    background-color: #FeFeFe;
    margin: 0 10px;
}

div {
    min-height: 2em;
    width: 100%;
    margin-right: 1em;
}
h1, h2, h3 {padding-top: .5em}

h1 {
    font-size: 200%;
    font-weight: bold;
}

h2 {
    font-size: 125%;
    font-weight: bold;
}

li, p, .description {
    margin-bottom: .5em;
    color: #666;
}

a {
    font-weight: bold;
    text-decoration-line: none; 
}

#qrcode {
    margin: 10px;
    padding: 5px;
}

.intro, .section {
    padding: 0 0 0 4em;
}

#error, .error {
    color: red;
    border: 1px solid red;
}

.data_ok {
    color: green;
}

.data_err {
    color: red;
}

.hidden {
    display: none;
}

ul {
    list-style: none;
    margin-left: 2em;
}

li:before {
    content: "\2610 ";
    color: red;
    padding-right: 1em;
}

.undone:before {
    content: "\2611 ";
    color: green;
    padding-right: 1em;
}
