#qrcode {
    margin: 10px;
    padding: 5px;
}

.note {
    border 1px solid red;
    padding: 5px;
}

.note b {
    color: red;
}
#hello {padding-top: 2em;}
#hello b {display: inline-block; text-align: right;min-width: 3em; color: blue; font-weight:bold;}
#linkup {
    display: none;
}
